[Unit]
Description=Database compose script

[Service]
Type=simple
User=database
Group=storage
#RemainAfterExit=true
WorkingDirectory=/opt/database
ExecStart=/usr/bin/podman-compose up --remove-orphans
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=default.target
